@font-face {
    font-family: 'Consolas';
    src: url($static-fonts-url + 'Lato-Bold.eot');
    src: url($static-fonts-url + 'Lato-Bold.eot?#iefix') format('embedded-opentype'),
    url($static-fonts-url + 'Lato-Bold.woff') format('woff'),
    url($static-fonts-url + 'Lato-Bold.ttf') format('truetype'),
    url($static-fonts-url + 'Lato-Bold.svg#Lato-Bold') format('svg');
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url($static-fonts-url + 'Lato-Regular.eot');
    src: url($static-fonts-url + 'Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url($static-fonts-url + 'Lato-Regular.woff') format('woff'),
    url($static-fonts-url + 'Lato-Regular.ttf') format('truetype'),
    url($static-fonts-url + 'Lato-Regular.svg#Lato-Regular') format('svg');
    font-style: normal;
}
