@import "variables/assetUrls";
@import "variables/colors";
@import "variables/font";
@import "variables/layout";

@import "theme/v1/layout";
@import "theme/v1/font-face";
@import "theme/v1/typography";
@import "theme/v1/buttons";

@mixin box-sizing($type: border-box) {
  box-sizing: $type;
  -moz-box-sizing: $type;
  -webkit-box-sizing: $type;
}
